.parent{
    
}
.heart{
    position: relative;
    align-items: flex-end;
    height:141px;
    width: 157px;
}
.heartBg{
    background-color: #f06eaa;
    width:157px;
    z-index: 1;
}
.img{
    /* z-index: 1; */
    display: block;
    position: relative;
    display:block;
}
.name{
    color: #f06eaa;
    font-size:24px;
    display: -webkit-box;
    /* line-height:141px; */
    text-align: center;
    /* margin: auto; */
    margin: auto 10px;
    width:  200px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}